{% assign certificates = site.data.data.certificates %}
{% if certificates %}
<section class="section certificates-section">

  <details>
    <summary>
    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-certificate fa-stack-1x fa-inverse"></i>
      </span>
      {{certificates.title}}
    </h2>
    </summary>

    <!-- {% for experience in experiences %}
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="job-title">{{ experience.role }}</h3>
          <div class="time">{{ experience.time }}</div>
        </div>
        <div class="company">{{ experience.company }}</div>
      </div>
      {% if experience.details %}
      <div class="details">
        {{ experience.details | markdownify }}
      </div>
      {% endif %}
    </div>
    {% endfor %} -->


    {% for cer in certificates.cerlist %}
    <div class="item">

      <div class="meta">

        {% if cer.role %}
        
          <div class="details">{{ cer.role | markdownify }}</div>
        
        {% endif %}

        <div class="upper-row">
          <div class="company">{{ cer.company }}</div>
          <div class="time">{{ cer.time }}</div>
        </div>

      </div><!--//meta-->


    </div><!--//item-->
    {% endfor %}
  </details>

</section><!--//section-->
{% endif %}

