{% assign courses = site.data.data.courses %}
{% if courses %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ courses.title }}
  </h2>

  <div class="skillset">

    {% for courseset in courses.toolset %}
    <div class="item">

      <h3 class="level-title">{{ courseset.category }}</h3>
      <br>

      {% for item in courseset.items %}
      <div class="details"> {{ item.item }} </div>
      {% endfor %}

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
