{% assign honors = site.data.data.honors %}
{% if honors %}
<section class="section honors-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-medal fa-stack-1x fa-inverse"></i>
    </span>
    {{honors.title}}
  </h2>



  {% for honor in honors.honorlist %}
  <div class="item">

    <div class="meta">

       {% if honor.role %}
      <div class="upper-row">
        <div class="details">{{ honor.role | markdownify }}</div>
      </div><!--//upper-row-->
      {% endif %}

      <div class="upper-row">
        <div class="company">{{ honor.company }}</div>
        <div class="time">{{ honor.time }}</div>
      </div>

    </div><!--//meta-->


  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

